*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
h2,h1,h3{
    color:orangered;
    font-weight: bold;
}

header{
    width: 100%;
    border-bottom: 1px solid grey;
    nav{
        
        ul{
            list-style-type: none;
            text-align: center;
            li{
                display:inline-block;
                margin:5px;
           a{
            color:grey;
            text-decoration: none;
            &:hover{
                color:black;
            }
           }
               
            }
        }
    }
}

main{
 width: 70%;
 margin:0 auto;
 text-align:center;
 background-image: url("../images/bkg1.jpg");
 background-size: 100%;
 height: 75vh;
div{
    width: 60%;
  margin:0 auto;
h2{
  padding-top:20%;
  color:orangered;
  border-bottom: 1px solid orangered;
  margin-bottom: 5px;
}
}
 
}
.services{
    width: 70%;
    margin:0 auto;
text-align:center;
    h2{
      border-bottom: 1px solid orangered;
      margin-bottom: 10px;
    }
    #prvi{
        width: 70%;
        text-align: center;
        margin:0 auto;
    }
    #drugi{
        width: 45%;
        float:left;
        text-align: justify;
        margin-top:10px;
        margin-bottom: 10px;
    }
    #treci{
        width: 45%;
        float: right;
        text-align: justify;
        margin-top:10px;
        margin-bottom: 10px;
    }
    .slika{
       
        width: 30%;
        border:1px solid orangered;
        clear:both;
        display: inline-block;
        margin-left: 10px;
        padding:5px;
        img{
            border-radius: 50%;
        }
    }
}

.contact{
    width: 70%;
    margin:0 auto;
    text-align: center;

    h2{
        border-bottom: 1px solid orangered;
        padding:10px;
    }
    form{
        float:left;
        width: 50%;
        padding-top:40px;
        color:orangered;
        
     label{
        float: left;
        clear: both;
        
     }
     input{
         float: right;
         clear: both;
         border:1px solid orangered;
     }
    }
    img{
        float: right;
        width: 50%;
    }
    button{
        background-color: orangered;
        color:white;
        float: right;
        width: 10%;
        margin-top:10px;
    }
}
footer{
    background-color:blue;
    color:white;
    clear:both;
    text-align: center;
   
}